

<% @projects.each do |project| %>


  <div class="project-header">
  <div class="project-title">
  <i class="icon-cogs icon-silver icon-my icon-large"></i><span  id='project_name<%=project.id%>'><%= best_in_place project, :title %></span>
  
    <%= link_to content_tag(:i, '', class: "icon-trash icon-large icon-silver pull-right"), project_path(project),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

    </div>
    <div class="new-task">
    <i class="icon-plus icon-2x icon-green icon-my"></i>
   <%= form_for [project, Task.new], :html=> {:style=>"display: inline;",:class=>"form-inline" } do |f| %>
    <%= f.text_field :text, :placeholder=>"Start typing here to create a task...", :class=>"span6 new_task", id:"new_task_#{project.id}" %>
    <%= f.submit  'New Task', class:"btn btn-success", id:"new_btn_#{project.id}", disabled:"disabled"%>
    <% end %>
    
    </div>
  <% project.tasks.order('priority').each do |task| %>
  
<% if task.priority == project.tasks.count %>
<div class="task last-task">
<% else %>
<div class="task">
   <% end %>
   <% if task.is_done %>
    <i class="icon-check icon-large icon-my pull-left" style="
    padding-top: 15px;"></i>
    <% else %>
    <%= link_to content_tag(:i, '', class: "icon-check-empty icon-large icon-my pull-left",style:"padding-top:15px;width: 18px;"), done_path(project,task), data: { confirm: 'Are you sure?' } %>
    <% end %>
   <div class="span3 task-title">
    <span id='task_name<%=task.id%>'><%= best_in_place task, :text ,:path=>project_task_path(project,task)%></span>
    </div>
    


<div class="task-right" id="task-right">
<img src="<%= asset_path('sort.png') %>" usemap="#sort<%= task.id%>">
<map name="sort<%= task.id%>">
<area shape="rect" coords="0,0,16,8" href="<%= priority_path(project,task,'up')%>" title="UP" alt="UP" />
<area shape="rect" coords="0,8,16,16" href="<%= priority_path(project,task,'down')%>" title="DOWN" alt="DOWN" />
</map>
    <%= link_to content_tag(:i, '', class: "icon-trash icon-large icon-my "), project_task_path(project,task), method: :delete, data: { confirm: 'Are you sure?' }  %>

<div class="task-deadline">
<% if task.is_done %>
<span>
Task is Done
    <% else %>
<span id="task_dl<%=task.id%>">
    <%= best_in_place task, :deadline, :place_holder=>"No deadline set", :path=>deadline_path(project,task), :type => :datetime, :display_as=>'local_time'  %>    
    <% end%>
    </span>
  </div>
  </div>
  </div>
  <% end %>
<% end %>

<%= form_for Project.new , method: :post do |f| %>

  <div align="center" style="margin-top:30px;">
  <%= button_tag(type: 'submit', class: "btn btn-primary btn-large") do %>
  <i class="icon-plus icon-large"></i> New Project
  <% end %>
  </div>
<% end %>

<script type="text/javascript">
    $(".new_task").keyup(function() {
        var id = parseInt(this.id.replace('new_task_', ''));
         if ($("#new_task_"+id).val() !== "") {
            $("#new_btn_"+id).removeAttr('disabled');
        } else {
            $("#new_btn_"+id).attr('disabled', 'true');
        }
    });

    </script>